.container{
    margin-top: 5%;
}
.form-control{
    margin-bottom: 10px;
}

#count-down{
    text-align: center;
    margin-top: 10%;
    display: none;
}

#workout-display{
    display: none;
    margin-top: 10%;
}

#timer{
    background-color: red;
    
} 


#rest{
    display: none;
    background-color: green;
    
}
#end{
    display: none;
}

.styles{
    color: white;
    padding:5px;
    font-size: 50px;
}


